* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#review-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#review-container .review {
    width: 30%;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 20px;
}

.location {
    margin: 0;
    padding: 0;
}

.author, .date {
    padding: 0;
    margin: 0;
    color: #a9a9a9;
}